<html>
  <head>
    <title>Potin d'ID <%= id %></title>
  </head>
  <body>
    <h1>Potin d'ID <%= id %></h1>
    <p> Son auteur : <%= gossip[0] %> </p>
    <p> Son contenu : <%= gossip[1] %> </p>
    <br>
    <p><a href="/"> Lien pour revenir à la page d'accueil</a></p>
    <p><a href="/gossips/<%= id %>/edit/"> Pour éditer le potin, c'est ici</a></p>

  </body>
</html>